
/* <--- COMMON ---> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
}


/* <--- END COMMON ---> */



/* <--- START HEADER ---> */

header{
    height: 80px;
    background-color: black;
}

.menu-window{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.speaker-view, .full-screen{
    background: linear-gradient(0deg, rgba(30,30,30,1) 0%, rgba(62,62,62,1) 100%);
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-left: 3px;
}

.full-screen{
    margin-right: 20px;
}
/* <--- END HEADER ---> */


/* <--- START MAIN ---> */

main{
    height: 100vh;
    background-color:black;
    display: flex;
    justify-content: center;
}

.page-left, .page-right{
    width: 10%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-left i, .page-right i{
    font-size: 100px;
}

.page-left i{
    color: gray;
}

.page-right i{
    color: #5ab8f9;
}

.webcam{
    width: 80%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-cam{
    height: 19%;
    width: 19%;
    background-image: url('../img/webcam.png');
    background-position: center;
    background-size: cover;
}

.user{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.row-setting{   
    display: flex;
    align-items: center;
    background-color: rgba(30,30,30,0.8);
    font-size: 12px;
    color: white;
    padding: 3px;
    position: relative;
}

.row-setting .name{
    margin: 0 5px;
    overflow: hidden;
}

.talkative{
    color: red;
    font-size: 17px;
    position: absolute;
    top:0;
    left: 4px;
}

.img-cam.speaker{
 border: 3px solid rgba(255, 255, 0, 0.546);
}

/* <--- END MAIN ---> */



/* <--- START FOOTER ---> */

footer{
    height: 60px;
    background: linear-gradient(0deg, rgba(30,30,30,1) 0%, rgba(62,62,62,1) 100%);
    display: flex;
    justify-content: space-between;
}

.left-footer{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center-footer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical{
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 10px;
    /* border: 1px solid red; */
}

.vertical span{
    margin-top: 5px;
}

.vertical span, .vertical.chevron i{
    font-size: 14px;
}

.vertical i{
    font-size: 20px;
}

.vertical.end-meeting{
    margin-right:0 ;
    background-color: #4a4b4c;
    color: #db5e53;
    padding: 0 10px;
}

.vertical.green i{
    color: #6ec43b ;
}
/* <--- END FOOTER ---> */








/* <--- START DEBUG ---> */

/* <--- END DEBUG ---> */
